@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'IranSansDn';
        src: url("../public/fonts/IranSans/iransansdn.woff2") format('woff2');
    }
    @font-face {
        font-family: 'IranSansDn Bold';
        src: url("../public/fonts/IranSans/iransansdnbold.woff2") format('woff2');
    }
    @font-face {
        font-family: 'IranSansFaNum';
        src: url("../public/fonts/IranSans/IRANSansWeb(FaNum).woff2") format('woff2');
    }
    @font-face {
        font-family: 'IranSansFaNum Bold';
        src: url("../public/fonts/IranSans/IRANSansWeb(FaNum)_Bold.woff2") format('woff2');
    }
    @font-face {
        font-family: 'IranSansFaNum Medium';
        src: url("../public/fonts/IranSans/IRANSansWeb(FaNum)_Medium.woff2") format('woff2');
    }

    :root {
        --color-primary: 47 85 212;
        --color-light: 248 249 252;
        --color-primary-darker: 36 67 172;
        --color-title: 22 28 45;
        --color-caption: 132 146 166;
        --color-sub-title: 60 72 88;
        --color-body: 255 255 255;
        --color-light-border: 222 226 230;
        --color-success: 46 202 139;
        --color-error: 228 63 82;
        --color-footer: 32 41 66;
    }

    body {
        background-color: rgb(var(--color-body));
        color: rgb(var(--color-caption));
        font-family: 'IranSansFaNum';
        min-height: 100vh;
        line-height: 1.6rem;
    }

}


@layer components {
    .menu-item--active {

    }

    .menu-item--active a {
        color: #ffffff;
    }

    .mobile-submenu-item--active {

    }

    .mobile-submenu-item--active a {
        color: rgb(var(--color-primary));
    }

    .introduction {
        background: url("../public/images/bg2.png") rgb(var(--color-primary)) center;
        background-size: cover;
    }

    .blog:hover{
        transform: translateY(-8px);
    }
}