@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'IranSansDn';
        src: url("../public/fonts/IranSans/iransansdn.woff2") format('woff2');
    }
    @font-face {
        font-family: 'IranSansDn Bold';
        src: url("../public/fonts/IranSans/iransansdnbold.woff2") format('woff2');
    }
    @font-face {
        font-family: 'IranSansFaNum';
        src: url("../public/fonts/IranSans/IRANSansWeb(FaNum).woff2") format('woff2');
    }
    @font-face {
        font-family: 'IranSansFaNum Bold';
        src: url("../public/fonts/IranSans/IRANSansWeb(FaNum)_Bold.woff2") format('woff2');
    }
    @font-face {
        font-family: 'IranSansFaNum Medium';
        src: url("../public/fonts/IranSans/IRANSansWeb(FaNum)_Medium.woff2") format('woff2');
    }
    @font-face {
        font-family: 'Dana';
        src: url("../public/fonts/Dana/dana-demibold.woff2") format('woff2');
    }

    :root {
        --color-primary: 47 85 212;
        --color-light: 248 249 252;
        --color-primary-darker: 36 67 172;
        --color-title: 22 28 45;
        --color-caption: 132 146 166;
        --color-sub-title: 60 72 88;
        --color-body: 255 255 255;
        --color-light-border: 222 226 230;
        --color-success: 46 202 139;
        --color-error: 228 63 82;
        --color-footer-bg: 32 41 66;
        --color-light-bg: 248 249 252;
        --color-footer: 173 181 189;
        --color-footer-border: 40 51 83;
        --color-warning: 241 116 37;
    }

    .dark:root{
        --color-body: 31 45 61;
        --color-light: 255 255 255;
        --color-sub-title: 255 255 255;
        --color-title: 255 255 255;
        --color-caption: 155 172 196;
        --color-footer-bg: 36 52 71;
        --color-light-bg: 37 54 73;
        --color-footer: 173 181 189;
        --color-footer-border: 45 65 88;
    }

    body {
        background-color: rgb(var(--color-body));
        color: rgb(var(--color-caption));
        font-family: 'IranSansFaNum';
        min-height: 100vh;
        line-height: 1.6rem;
    }

}


@layer components {
    .menu-item--active {

    }

    .menu-item--active a {
        color: #ffffff;
    }

    .mobile-submenu-item--active {

    }

    .mobile-submenu-item--active a {
        color: rgb(var(--color-primary));
    }

    .introduction {
        background: url("../public/images/bg2.png") rgb(var(--color-primary)) center;
        background-size: cover;
    }

    .blog:hover{
        transform: translateY(-8px);
    }

    /*.aboutus-intro {*/
    /*    background: url("../public/images/aboutus/introduction-bg.jpg");*/
    /*}*/

    .page-header-image {
        background-size: cover;
        /*background-position: center;*/
        padding: 184px 0 134px 0;
        clip-path: ellipse(270% 100% at 50% 0%);
    }

    #user-panel-header {
        background-image: url("/public/images/bg.png");
        background-size: cover;
        background-position: center;
    }

    /*.services-intro {*/
    /*    background: rgb(var(--color-light-bg));*/
    /*}*/

    .account-box:hover{
        transform: scale(1.05);
    }

    .user-panel-menu-item {
        @apply flex items-center gap-2 font-IranSansFaNum-Bold text-title h-[52px] rounded-md shadow-sm shadow-sub-title/15 px-6 hover:bg-primary hover:text-white transition-all duration-500;
    }

    .social-media {
        @apply text-sub-title border-sub-title hover:bg-primary hover:text-white hover:border-primary dark:text-footer dark:border-footer dark:hover:bg-primary dark:hover:text-white dark:hover:border-primary
    }

    @media screen and (min-width: 768px) {
        .page-header-image {
            clip-path: ellipse(195% 100% at 50% 0%);
        }
    }

    @media screen and (min-width: 992px) {
        .page-header-image {
            clip-path: ellipse(133% 100% at 50% 0%);
        }
    }
}